
/ros2_irl_ws/build
/ros2_irl_ws/install
/ros2_irl_ws/log
ros2_irl_ws/src/tb3_robot/turtlebot3Robot.bckp2
turtlebot3_webots_project/worlds/circle_world.wbt
turtlebot3_webots_project/worlds/Blank.wbt
turtlebot3_webots_project/worlds/BasicEnv.wbt
turtlebot3_webots_project/worlds/.circle_world.wbproj
turtlebot3_webots_project/worlds/.circle_world.jpg
turtlebot3_webots_project/worlds/.BasicEnv.wbproj
turtlebot3_webots_project/worlds/.BasicEnv.jpg
turtlebot3_webots_project/worlds/.Amazon_warehouse_world_0_375.wbproj
turtlebot3_webots_project/worlds/.Amazon_warehouse_world_0_375.jpg
turtlebot3_webots_project/worlds/.Amazon_warehouse_world.jpg
turtlebot3_webots_project/worlds/.Amazon_warehouse_world.wbproj
/turtlebot3_webots_project/controllers/Agent/runs/RL_SAC_Pendulum
/turtlebot3_webots_project/controllers/Agent/runs/RL_SAC_MountainCarContinuous
/turtlebot3_webots_project/controllers/Agent/runs/rl_sac
/turtlebot3_webots_project/controllers/Agent/runs/RL_SAC
/turtlebot3_webots_project/controllers/Agent/runs/rl_ppo_gaussian
/turtlebot3_webots_project/controllers/Agent/runs/RL_PPO_Gaussian
/turtlebot3_webots_project/controllers/Agent/runs/rl_ppo_clippedgaussian
/turtlebot3_webots_project/controllers/Agent/runs/RL_PPO_clippedGaussian
/turtlebot3_webots_project/controllers/Agent/runs/RL_PPO
/turtlebot3_webots_project/controllers/Agent/runs/RL_PPG
/turtlebot3_webots_project/controllers/Agent/runs/refine_demo_checker
/turtlebot3_webots_project/controllers/Agent/runs/demonstration
/turtlebot3_webots_project/controllers/Agent/RL_Model
/turtlebot3_webots_project/controllers/Agent/models/RL_SAC_Pendulum
/turtlebot3_webots_project/controllers/Agent/models/RL_SAC_MountainCarContinuous
/turtlebot3_webots_project/controllers/Agent/models/RL_SAC
/turtlebot3_webots_project/controllers/Agent/models/RL_PPO
/turtlebot3_webots_project/controllers/Agent/library/__pycache__
turtlebot3_webots_project/controllers/Agent/library/custom_rl_algo.py.bckp
turtlebot3_webots_project/controllers/Agent/library/BC_Net.py
turtlebot3_webots_project/controllers/Agent/demonstration_tuning.ipynb
turtlebot3_webots_project/controllers/Agent/clipped_gauss_test.py
turtlebot3_webots_project/controllers/Agent/clipped_gauss_chainer.py
turtlebot3_webots_project/controllers/Agent/bc_model.pth
turtlebot3_webots_project/controllers/Agent/Agent.bckp
/turtlebot3_webots_project/controllers/Agent/__pycache__
/turtlebot3_webots_project/controllers/Agent/runs/rl_airl
/turtlebot3_webots_project/controllers/Agent/runs/airl
/turtlebot3_webots_project/controllers/Agent/runs/airl_rl_ppo
/turtlebot3_webots_project/controllers/Agent/runs/AIRL_PPO
